@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

body {
	background: #769FCD;
}

.has-error .select2-selection,
.has-error input {
    border-color: #cc0000 !important;
    background-color: #f3d8d8 !important;
    background-image: url(../img/diagonals.png) !important;
    background-position: 50% 50% !important;
    background-repeat: repeat !important;
}
    
.container {
	padding: 80px 0;
}

.table {
	text-align: center;
}

.margin-n10 {
	margin-left:-10px;
	margin-right:-10px;
}

.login-panel {
	display:block;
	margin-top:80px;
	background: #bdd7ee;
	border: 2px solid #41719c;
	border-radius: 20px;
	padding: 10px;
}

.login-panel img {
	width: 30%;
	display:block;
	margin: 0 auto;
}

.login-form {
	width:80%;
	display:block;
	margin: 0 auto;
	padding-top:20px;
	border-top: 2px solid #41719c;
}

.login-form input {
	margin-top: 6px;
}

.login-btn {
	margin-top: 6px;
	width:100%;
	background: #5b9bd5;
	color: #fff;
	border: 1px solid #41719c;
	border-radius: 4px;
	padding: 4px 12px;
	font-size: 18px;
}

.cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
    background: #fff;
}

.cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.t-centered {
	display:table;
	margin:0 auto;
}

.margin-v10 {
	margin-top: 10px;
	margin-bottom:10px;
}

.margin-v15 {
	margin-top:15px;
	margin-bottom:15px;
}

.margin-v20 {
	margin-top: 20px;
	margin-bottom:20px;
}

label input[type="checkbox"] {
    display: none;
}

label input[type="checkbox"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

label input[type="checkbox"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.login-form label {
	display: table;
	margin: 0 auto;
	color: #777;
	margin-top: 10px;
}

.login-panel a {
	display:table;
	margin:0 auto;
	margin-top: 10px;
}

.panel-a {
	display:block;
	margin-top: 80px;
	margin-bottom: 80px;
	background: #F7FBFC;
	border: 2px solid #41719c;
	border-radius: 20px;
	padding: 10px;
}

.panel-b {
	display:block;
	margin-top:80px;
	background: #F7FBFC;
	border: 2px solid #41719c;
	border-radius: 20px;
	padding: 10px;
}

.panel-c {
	display:block;
	margin-top:80px;
	background: #F7FBFC;
	border: 2px solid #41719c;
	border-radius: 20px;
	padding: 10px;
}

.panel-b input, .panel-b select, .panel-b textarea, .panel-a input, .panel-a select, .panel-a textarea {
	margin-top: 10px;
	height:40px;
	border: 2px solid #41719c;
}

.panel-h-btns label {
	display:table;
	margin:20px auto;
}

header {
	width: 100%;
	height: 60px;
	background: #F7FBFC;
	box-shadow: 0 2px 12px rgba(0,0,0,0.2);
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
}

.logo {
	height: 100%;
	padding:10px 0 6px 3%;
}

.logo img {
	height: 80%;
}

.user-name {
	font-size: 19px;
	font-weight: 600;
	float: right;
	padding: 15px 3% 6px 0;
}

.user-name:before {
	content: "\f2be";
	font-family: FontAwesome;
	font-size: 24px;
	padding-right:6px;
}

.user-options {
	cursor:pointer;
}

.user-panel {
	background: #333;
	position: absolute;
	padding: 5px 15px 10px 15px;
	right: 3%;
	top: 61px;
	color:#fff;
	z-index: 1;
	display:none;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.user-panel span {
	display:block;
	width:100%;
	padding-top: 6px;
}
.user-panel span a {
	color: inherit;
}

.user-pass:before {
	content: "\f084";
	font-family: FontAwesome;
	font-size: 18px;
	padding-right:6px;
}

.logout:before {
	content: "\f08b";
	font-family: FontAwesome;
	font-size: 18px;
	padding-right:6px;
}

.menu {
	padding-top:50px;
	display:block;
}

.menu-2 {
	padding-top:50px;
}

.menu>div, .menu-2>div {
	margin-left: -5px;
	margin-right: -5px;
}



.menu>div>div, .menu-2>div>a>div {
	position:relative;
	margin:10px;
	padding:15px;
	background: #F7FBFC;
	border: 2px solid #41719c;
	border-radius: 12px;
	text-align:center;
}

.menu>div>div:before {
	content:"";
	display:block;
	padding-top:100%;
}

.menu-2>div>a>div:before {
	content:"";
	display:block;
	padding-top:100%;
}

.menu>div>div:hover, .menu-2>div>a>div:hover {
	background: #ededed;
}

.menu-icon {
	width:100%;
	height:60%;
	margin:auto;
	position:absolute;
	top:-25%;
	left:0;
	right:0;
	bottom:0;
}

.menu-icon img {
	height:90%;
	display:block;
	margin:5% auto;
}

.menu-icon span {
	padding-top:10px;
	font-size: 20px;
	line-height: 18px;
	font-weight: 600;
}

.bottom-btns {
	display:table;
	margin:0 auto;
	padding-top: 15px;
}

.btns-1 {
	float:right;
}

.btns-2 {
	float:left;
}

.bottom-btns button, .bottom-btns1 button,.bottom-bts a {
	margin:10px 5px;
	/*padding-left: 6px;*/
}

.bottom-btns2 div button {
	display:table;
	margin:10px auto;
}

.panel-b .panel-title img {
	width: 70%;
	float:right;
}

.panel-a .panel-title img {
	width: 40%;
	float:right;
	margin-right:20%;
}

.panel-c .panel-title img {
	width: 70%;
	float:right;
}

.print-btn:before {
	content: "\f02f";
	font-family: FontAwesome;
	font-size: 18px;
	padding-right:10px;
}

.edit-btn:before {
	content: "\f044";
	font-family: FontAwesome;
	font-size: 18px;
	padding-right:10px;
}

.exit-btn:before {
	content: "\f053";
	font-family: FontAwesome;
	font-size: 18px;
	padding-right:10px;
}

.save-btn:before {
	content: "\f0c7";
	font-family: FontAwesome;
	font-size: 18px;
	padding-right:10px;
}

.cancel-btn:before {
	content: "\f00d";
	font-family: FontAwesome;
	font-size: 18px;
	padding-right:10px;
}

.next-btn:after {
	content: "\f054";
	font-family: FontAwesome;
	font-size: 18px;
	padding: 0;
}

.upload input[type="file"] {
	position: absolute;
    opacity: 0;
    top:0;
    height: 100%;
    width: 100%;
}

.upload {
	line-height:60px;
	text-align: right;
	font-size: 20px;
}



.upload .fa {
	font-size: 30px;
}

.upload input[type="text"] {
	width:108%;
}

.file-upload input {
	cursor: pointer;
}

input[type=file]::-webkit-file-upload-button { /* chromes and blink button */
    cursor: pointer; 
}

.u-data-panel {
	text-align:right;
}

.u-data-panel>div {
	
	font-size: 18px;
	line-height: 20px;
}

.u-data-panel>div input {
	border:none;
	background:none;
	width:100%;
	/*border-bottom: 1px solid #777;*/
	float:left;
	height:20px;
	margin-top:0;
}

.row-input {
	width:40%;
}
.btn-cd {
	margin:10px 5px;
	padding: 24px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}

.tcontable {
	min-width: 100%;
}

.tcontable td {
	min-width: 100px;
}

.blank_row {
    height: 30px !important; /* overwrites any other rules */
}

.data-cliente h4 {
	font-size:17px;
}

.footer {
	position:fixed;
	background: #F7FBFC;
	height:65px;
	bottom:0;
	padding:10px 10px 10px 10px;
	width:100%;
}

.form-d {
	width:75%;
	margin:0 auto;
}

/*MEDIA*/
@media (max-width: 1200px) {
	.upload {
		font-size: 16px;
		line-height:18px;
		padding-top:7px;
	}
	.btn-cd {
	padding: 24px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
	}
}
@media (max-width: 991px) {
	.menu-icon span {
		font-size: 18px;
		line-height: 16px;
	}

	.upload {
		font-size: 16px;
		line-height:18px;
	}
	.upload .row {
		margin: 10px 0;
	}
	.upload input[type="text"] {
    margin-top: 0px;
	}

}

@media (max-width: 767px) {
	.panel-b.col-xs-12 { width: 70%; margin-left: 15% }
	

		.upload {
	line-height:30px;
	font-size: 18px;
	}

	.upload .fa {
	font-size: 25px;
	margin-top:7px;
	}

	.upload .row {
		position:relative;
	}

	.upload .row div:nth-child(1) {
		/*position:absolute;*/
		text-align: left;
	}

	.upload input[type="text"] {
		margin-top:0px;
	}

	.upload input[type="file"] {
    height: 100%;
    width: 80%;
	}

    .panel-a .panel-title img, .panel-b .panel-title img {
		width: 25%;
		float:none;
		display:table;
		margin:10px auto;
	}

	.panel-c .panel-title img {
		width: 25%;
		float:none;
		display:table;
		margin:10px auto;
	}

	.row-input {
		width:80%;
	}
	.menu {
		padding-top:16px;
	}
	.menu-icon span {
		font-size: 26px;
	}

	.form-d {
	width:100%;
	display:table;
	margin:0 auto;
	}
}

@media (max-width: 575px) {
	.logo {
		height: 90%;
    	padding: 18px 0 6px 3%;
	}

	.user-name {
		font-size: 15px;
		padding-top: 18px;
	}

	.user-name:before {
	font-size: 18px;
	}

	.menu {
		padding-top:16px;
	}

	.panel-a, .panel-b {
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.menu>div {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}

	.menu>div>div {
		width:120%;
		margin:5% -10%;
	}

	.menu-icon img {
		height: 84%;
	}

	.menu-icon span {
		font-size: 20px;
		line-height: 16px
	}

	.btns-1, .btns-2{
	float:none;
	display:table;
	margin:0 auto;
	}

	.bottom-btns button, .bottom-btns1 button {
		
	}

	.u-data-panel>div {
	}

	.btn-cd {
	padding: 17px 5px !important;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
	}

}

@media (max-width: 479px) {
	.panel-b.col-xs-12 { width: 90%; margin-left: 5% }
	.panel-c.col-xs-8 { width: 75% }
	.panel-c.col-xs-offset-2 { margin-left: 12.5% }
	.upload .fa {
	font-size: 16px;
	margin-top:7px;
	}

	.upload div .col-xs-4 {
		margin:0;
		padding:0 0 0 6px;
	}

	input[type="text"] {
		height:30px;
	}

	.bottom-btns-3 .btn {
		font-size:12px !important;
	}
}
/* ---------------------------- */
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}



@media screen and (max-width: 1440px) {
	.col-espacio-b {
    	padding-bottom: 10px;
    }
    .col-espacio-t {
    	padding-top: 10px;
    }
    .u-data-panel .col-espacio-t .text-center:first-child {
    	text-align: right !important;
	}
    .u-data-panel .col-espacio-t .text-center:last-child {
    	text-align: left !important;
	}
}
@media screen and (max-width: 992px) {
    .col-espacio-b {
    	padding-bottom: 10px;
    }
    .col-espacio-t {
    	padding-top: 10px;
    }
}
@media screen and (max-width: 767px) {
    .select2 {
        width: 100% !important;
    }
    .col-espacio-t {
    	padding-top: 10px;
    }
    .col-espacio-b {
    	padding-bottom: 10px;
    }
    .col-text-center { text-align: center !important; }
    .u-data-panel > .col-espacio-t .text-center:first-child {
    	text-align: center !important;
	}
    .u-data-panel .col-espacio-t .text-center:last-child {
    	text-align: center !important;
	}
}

@media print {
	@page { margin: 0; }
	body { margin: 1.6cm; }
}